*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #161616 !important;
}

.my-class{
  height: 100%;
  width: 100vw;
  color: white;
}

.center-class{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.my-text{
  list-style: none!important;
  text-align: start;
  color: white;
  margin: 6px 0px;
  font-size: 1.2em;
  width: 90%;
}

.my-right{
  right: 12px;
}

.task-area{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-navbar{
  width: 100vw;
  height: 60px;
  padding: 9px;
  display: flex;
  align-items: center!important;
  justify-content: space-between;
  border-bottom: 2px solid white;
}



.my-header{
  font-weight: 600;
  font-size: 1.5em;
}

.my-img{
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 0px 3px 1px #c3e0f8;
}

.home-area{
  display: flex;
  flex-direction:  column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.my-wrapper{
  width: 85%;
  height: fit-content;
  padding: 8px;
  border: 1px solid gray;
  border-radius: 5px;
}

.my-content{
  margin: 9px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.name-span{
 /* width: 28px;*/
  overflow: hidden;
}

.my-left{
  left: 12px;
}

.my-width{
  width: 90%;
}

.text{
  width : 90%;
}


.input-error{
  /*border: 1px solid red;*/
}

.my-alert{
  position: absolute;
  width: 90%;
  left: 0;
  right: 0;
  top: -50%;
  margin: 5px auto;
  text-align: center !important;
  animation: myAnimation 3s ease-in-out 1;
}

@keyframes myAnimation{
  0%{
    top: -10%;
  }
  25%{
    top: 10%;
  }
  50%{
    top: 10%;
  }
  75%{
    top: 10%;
  }
  100%{
    top:-20%;
  }
}